<p id="title">Place the number from 1 to 19 in the slots. The sum of each rows must equals 38.</p>

<section id="slots">

    <main>
        <div class="slot hexagon" data-position="a" style="--position:a"></div>
        <div class="slot hexagon" data-position="b" style="--position:b"></div>
        <div class="slot hexagon" data-position="c" style="--position:c"></div>
        <div class="slot hexagon" data-position="d" style="--position:d"></div>
        <div class="slot hexagon" data-position="e" style="--position:e"></div>
        <div class="slot hexagon" data-position="f" style="--position:f"></div>
        <div class="slot hexagon" data-position="g" style="--position:g"></div>
        <div class="slot hexagon" data-position="h" style="--position:h"></div>
        <div class="slot hexagon" data-position="i" style="--position:i"></div>
        <div class="slot hexagon" data-position="j" style="--position:j"></div>
        <div class="slot hexagon" data-position="k" style="--position:k"></div>
        <div class="slot hexagon" data-position="l" style="--position:l"></div>
        <div class="slot hexagon" data-position="m" style="--position:m"></div>
        <div class="slot hexagon" data-position="n" style="--position:n"></div>
        <div class="slot hexagon" data-position="o" style="--position:o"></div>
        <div class="slot hexagon" data-position="p" style="--position:p"></div>
        <div class="slot hexagon" data-position="q" style="--position:q"></div>
        <div class="slot hexagon" data-position="r" style="--position:r"></div>
        <div class="slot hexagon" data-position="s" style="--position:s"></div>
        
        <div class="counter orient0" data-count="abc" data-result="0" style="--position:c"></div>
        <div class="counter orient0" data-count="defg" data-result="0" style="--position:g"></div>
        <div class="counter orient0" data-count="hijkl" data-result="0" style="--position:l"></div>
        <div class="counter orient0" data-count="mnop" data-result="0" style="--position:p"></div>
        <div class="counter orient0" data-count="qrs" data-result="0" style="--position:s"></div>
        
        <div class="counter orient60" data-count="hmq" data-result="0" style="--position:h"></div>
        <div class="counter orient60" data-count="dinr" data-result="0" style="--position:d"></div>
        <div class="counter orient60" data-count="aejos" data-result="0" style="--position:a"></div>
        <div class="counter orient60" data-count="bfkp" data-result="0" style="--position:b"></div>
        <div class="counter orient60" data-count="cgl" data-result="0" style="--position:c"></div>
        
        <div class="counter orient120" data-count="spl" data-result="0" style="--position:s"></div>
        <div class="counter orient120" data-count="rokg" data-result="0" style="--position:r"></div>
        <div class="counter orient120" data-count="qnjfc" data-result="0" style="--position:q"></div>
        <div class="counter orient120" data-count="mieb" data-result="0" style="--position:m"></div>
        <div class="counter orient120" data-count="hda" data-result="0" style="--position:h"></div>
    </main>


</section>


<section id="reserve">
    <div class="token hexagon" draggable="true" data-value="1"></div>
    <div class="token hexagon" draggable="true" data-value="2"></div>
    <div class="token hexagon" draggable="true" data-value="3"></div>
    <div class="token hexagon" draggable="true" data-value="4"></div>
    <div class="token hexagon" draggable="true" data-value="5"></div>
    <div class="token hexagon" draggable="true" data-value="6"></div>
    <div class="token hexagon" draggable="true" data-value="7"></div>
    <div class="token hexagon" draggable="true" data-value="8"></div>
    <div class="token hexagon" draggable="true" data-value="9"></div>
    <div class="token hexagon" draggable="true" data-value="10"></div>
    <div class="token hexagon" draggable="true" data-value="11"></div>
    <div class="token hexagon" draggable="true" data-value="12"></div>
    <div class="token hexagon" draggable="true" data-value="13"></div>
    <div class="token hexagon" draggable="true" data-value="14"></div>
    <div class="token hexagon" draggable="true" data-value="15"></div>
    <div class="token hexagon" draggable="true" data-value="16"></div>
    <div class="token hexagon" draggable="true" data-value="17"></div>
    <div class="token hexagon" draggable="true" data-value="18"></div>
    <div class="token hexagon" draggable="true" data-value="19"></div>
</section>